/* ============common code start============ */
:root {
    --primary : #3639A4;
    --secondary: #2C2643;
    --sky: #43E7DF;
    --white : #fff;
    --white2: #645E76;
    --fontdm: 'DM Sans', sans-serif; 
    --fontchivo: 'Chivo', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,ol {
    list-style-type: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    line-height: .8;
}
.container{
    width: 1410px;
    margin: 0 auto;
}
.common_btn {
    color: var(--secondary);
    background-color: var(--sky);
    font-family: var(--fontdm);
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    text-transform: capitalize;
    display: inline-block;
    border: 1px solid var(--sky);
    border-radius: 6px;
    padding: 20px 48px;
    transition: all linear .3s;
}
.common_btn:hover{
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--secondary);
}
.common_pera {
    color: var(--white);
    font-size: 18px;
    font-weight: 400;
    font-family: var(--fontdm);
    line-height: 32px;
    letter-spacing: -0.045px;
}
.sub_heading{
    font-size: 46px;
    font-weight: 400;
    font-family: var(--fontchivo);
    line-height: 58px;
    color: var(--secondary);
}
/* ============common code end============ */


/* ============Navbar code start============ */
#navbar{
    padding: 32px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    
}
.nav_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_menu {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
}
.nav_menu ul li a{
    color: var(--white);
    text-transform: capitalize;
    font-family: var(--fontdm);
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
}
.nav_menu ul li a i {
    margin-left: 8px;
}
.nav_btn a:nth-child(1) {
    background-color: transparent;
    color: var(--white);
    border: none;
    transition: all linear .3s;
}
.nav_btn a:nth-child(1):hover {
    background-color: var(--sky);
    color: var(--secondary);
}
/* ============Navbar code end============ */

/* ============banner code start============ */
#banner {
    background-color: var(--primary);
    padding: 195px 0 456px 0;
    position: relative;
}
.ban_wrapper {
    text-align: center;
    z-index: 111;
}
.ban_wrapper h1{
    width: 796px;
    color: var(--white);
    font-size: 56px;
    font-family: var(--fontchivo);
    font-weight: 600;
    line-height: 64px;
    margin: 0 auto;
    margin-bottom: 20px;
    z-index: -122;
}
.ban_wrapper p {
    width: 467px;
    color: var(--white);
    margin: 0 auto;
}
.ban_form {
    margin-top: 32px;
    display: inline-block;
}
.ban_form form {
    position: relative;
    border-radius: 6px;
    padding-top: 3px;
    border: none;
    width: 480px;
}
.ban_form form input{
    padding: 24px;
    padding-right: 225px;
    border: none;
    border-radius: 6px;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.ban_form form button {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    border-radius: 6px;
    background-color: var(--sky);
    color: var(--secondary);
    padding: 15px 48px;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    font-family: var(--fontdm);
    text-transform: capitalize;
    cursor: pointer;
}
.ban_shape1 {
    position: absolute;
    left: -5%;
    top: -15%;
    z-index: 11;
}
.ban_shape2 {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 11;
}
.ban_laptop {
    position: relative;
    text-align: center;
    margin: 0 auto;
}
.ban_laptop .ban_shape3 {
    position: absolute;
    z-index: 11;
    margin: 98px 105px 0px 0;
}
.ban_shape4 {
    position: absolute;
    right: 0;
    bottom: -127px;
    z-index: 7;
}
.ban_shape5 {
    position: absolute;
    left: 0;
    bottom: -127px;
    z-index: 7;

}
/* ============banner code end============ */

/* ============platform code start============ */
#platform{
    margin-top: 551px;
    margin-bottom: 160px;
}
.platform_wrapper{
    position: relative;
}
.platform_heading{
    display: flex;
    justify-content: center;
    column-gap: 260px;
}
.platform_heading h2{
    width: 504px;
}
.platform_heading p{
    color: var(--white2);
    width: 530px;
}
.platform_items {
    display: flex;
    gap: 200px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.plat_cont{
    margin-top: 116px;

}
.plat_cont_img{
    width: 110px;
    height: 110px;
    overflow: hidden;
    margin: 0 auto;
}
.plat_cont_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.plat_cont h4{
    font-size: 24px;
    font-family: var(--fontchivo);
    font-weight: 400;
    line-height: 36px;
    color: var(--secondary);
    padding: 26px 0 12px 0;
    width: 300px;
    text-align: center;
}
.plat_cont p{
    width: 300px;
    color: var(--white2);
    text-align: center;

}
.plat_vector2 {
    position: absolute;
    left: 307px;
    top: 289px;
    z-index: 111;
}.plat_vector1 {
    position: absolute;
    right: 305px;
    top: 235px;
    z-index: 111;
}
/* ============platform code end============ */

/* ============feature code start============ */
#feature{
    padding-bottom: 160px;
}
.feature_part2{
    margin-left: 100px;
}
.feature_part2 h2{
    width: 553px;
}
.feature_part2_items {
    margin-top: 64px;
    width: 544px;
    display: flex;
    gap: 104px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-color: aquamarine; */
}
.feature_part2_cont:nth-child(2) .feature_part2_cont_circle{
    background-color: #FAF1E8;
}
.feature_part2_cont:nth-child(2) .feature_part2_cont_circle i{
    color: #FFCA4B;
}
.feature_part2_cont:nth-child(3) .feature_part2_cont_circle{
    background-color: rgba(201, 240, 243, 0.808);
}
.feature_part2_cont:nth-child(3) .feature_part2_cont_circle i{
    color: var(--sky);
}
.feature_part2_cont_circle {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: rgb(251, 204, 211);
    display: flex;
    align-items: center;
    justify-content: center;
}
.feature_part2_cont_circle i{
    font-size: 24px;
    color: #FF7364;
}
.feature_part2_cont h4{
    font-size: 22px;
    font-weight: 400;
    font-family: var(--fontchivo);
    line-height: 34px;
    color: var(--secondary);
    width: 214px;
    margin: 14px 0 6px 0;
}
.feature_part2_cont p{
    color: var(--white2);
    width: 220px;
}
.feature_part2_cont a{
    background-color: #3639A4;
    border: 1px solid #3639A4;
    color: var(--white);
}
.feature_part2_cont .common_btn:hover{
    color: var(--secondary);
}

/* ============feature code end============ */

/* ============common code start============ */
/* ============common code end============ */

/* ============common code start============ */
/* ============common code end============ */

/* ============common code start============ */
/* ============common code end============ */

/* ============common code start============ */
/* ============common code end============ */